.app_container {
  min-height: 70svh;
  background-color: var(--col_body);
}

.logo {
  width: 600px;
  object-fit: contain;
  /* padding: 1.5em; */
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    /* animation: logo-spin infinite 20s linear; */
  }
}

.card {
  /* padding: 2em; */
}

.foot_container {
  background: var(--grad_blu);
  padding: 1rem;
  padding-block: 3rem;
}

.mission_container {

  justify-content: space-between;

  align-items: start;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  gap: 2rem;

  .mission {
    max-width: 600px;
  }

  .mission_main {
    font-weight: 700;
    font-size: 2.25rem;
    margin-bottom: .5rem;
  }

  .mission_sub {
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 1.25;
    margin-bottom: .5rem;
    /* text-wrap: balance; */
  }

  .mission_desc {
    line-height: 1.75;
  }
}



.socials {
  margin-inline: var(--margin_resp_socials);
  min-width: fit-content;

  .social_list {
    margin-inline: auto;
    justify-content: space-around;
  }
}



.copy_right {
  text-align: center;
  margin-bottom: 1rem;
}

.lnk_btn_order {
  margin-block: 1rem;
  min-width: 296px;
  max-width: 360px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 12px;

  color: #fff;
  font-weight: 600;
  font-size: 20px;

  border-radius: 60px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.16);
  background: var(--grad_bleu_dark);

  .ic_whats {
    height: 20px;
    width: auto;
    object-fit: contain;
  }
}