:root {
  --count_font_multiplier: .75;
  --dimen_hero_section_height: auto;
  --dimen_hero_cta_padding: 2rem;
  --dimen_hero_img_width: 100%;
  --dimen_partner_card_width: clamp(80px, 33svw, 144px);
  --dimen_hero_img_height: 340px;
  --dimen_counter_width: clamp(5rem, 25svw, 7rem);
  --dimen_font_counter: 2.5rem;
  --dimen_counter_lh: .75em;
  --dimen_hiw_list_pad: 0;
  --dimen_cta_card_margin: 2rem 1rem 4rem;

  --cta_card_padding: 24px;
  --cta_card_border: 1px solid rgba(255, 255, 255, 0.7);
  --cta_card_borde_rad: 16px;

  --dimen_section_padding_inline: 1rem;
  --dimen_areas_active_min_width: clamp(240px, 44svw, 600px);

}

@media screen and (width> 359px) {
  :root {
    --dimen_font_counter: 3rem;
    --dimen_counter_lh: .85em;
  }
}

@media screen and (width> 399px) {
  :root {
    --dimen_font_counter: 4rem;
    --dimen_counter_lh: .95em;
  }
}

@media screen and (width> 768px) {
  :root {
    --count_font_multiplier: .5;
    --dimen_hero_section_height: clamp(560px, 48svh, 700px);
    --dimen_hero_cta_padding: 4rem;
    --dimen_hero_img_width: 50svw;
    --dimen_hero_img_height: inherit;
    --dimen_partner_card_width: 144px;
    --dimen_cta_card_margin: 2rem 0 4rem;
    --dimen_font_counter: 4rem;
    --dimen_counter_lh: 1em;
    --dimen_hiw_list_pad: 2rem;

    --cta_card_padding: 0 2rem;
    --cta_card_border: unset;
    --cta_card_borde_rad: 0;
    --dimen_section_padding_inline: 2rem;
    --dimen_areas_active_min_width: clamp(300px, 40svw, 600px);

  }
}

.alter_sections_container {
  padding-inline: var(--dimen_section_padding_inline);
}

.hero_back {
  padding: 0;
  /* background: linear-gradient(180deg, #0058E8 0%, #33BBFF 100%); */
  background: var(--grad_blue);
  max-height: var(--dimen_hero_section_height);

  .hero_cta_container {
    padding: var(--dimen_hero_cta_padding);
    font-weight: 600;
    min-width: 48svw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .logo_container {
    margin-bottom: 1.5rem;

    .logo_gh {
      width: 160px;
      object-fit: contain;
    }
  }


  .cta_copy {
    margin-bottom: 1.5rem;
    text-wrap: balance;
  }

  .hero_title {
    font-size: var(--dimen_font_title_hero);
    margin-bottom: 1rem;
  }

  .hero_sub {
    font-size: calc(var(--dimen_font_title_hero) * var(--count_font_multiplier));
    font-weight: 400;
    text-wrap: pretty;
  }

  .hero_img {
    width: var(--dimen_hero_img_width);
    height: var(--dimen_hero_img_height);
    /* width: 100%; */
    object-fit: cover;
  }
}



.areas_container {
  padding: 2rem;
  padding-block: 4rem;
  text-align: center;
  align-items: center;
  gap: 1rem;
  text-wrap: balance;
  text-wrap: pretty;

  /* * {
    margin-bottom: 1rem;
  } */

  .areas_active {
    font-size: var(--dimen_font_title);
    min-width: var(--dimen_areas_active_min_width);
    color: var(--col_fore_main, #FAFAFA);
  }

  .areas_list {
    font-size: calc(var(--dimen_font_title) * var(--count_font_multiplier));
    color: var(--col_fore_sub, #83878C);

  }
}

.stat_container {
  margin-block: 1rem;
  padding-block: 4rem;
  padding-inline: 2rem;
  text-align: center;
  text-wrap: balance;
  background-color: #333333;
  border-radius: 1rem;

  .stat_main {
    font-size: var(--dimen_font_stat);
    color: #FAFAFA;
    margin-bottom: 1rem;
  }

  .stat_sub {
    font-size: calc(var(--dimen_font_title) * var(--count_font_multiplier));
    font-weight: 500;
    color: var(--col_fore_sub, #83878C);
  }

}

.partner_container {
  padding-block: 4rem;
  align-items: center;
  margin-bottom: 2rem;
  text-align: center;
  text-wrap: balance;
  gap: 2rem;

  .partner_title_container {
    display: block;
  }

  .partner_icon {
    width: 2rem;
    margin-inline-end: auto;
  }

  .partner_title {
    font-size: var(--dimen_font_title);
  }

  .partner_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: self-start;
    gap: 3rem;
    padding: 1rem;

    .partner_item {
      /* min-width: var(--dimen_partner_card_width, 80px); */
      width: var(--dimen_partner_card_width, 80px);
      /* max-width: calc(var(--dimen_partner_card_width, 80px) * 1.25); */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: .5rem;


      .partner_img_container {
        width: var(--dimen_partner_card_width, 80px);
        height: var(--dimen_partner_card_width, 80px);
        border-radius: 100%;
        background: var(--grad_bleu);
        place-content: center;

        .partner_img {
          margin-top: .75rem;
          height: calc(var(--dimen_partner_card_width, 80px) - 2.5rem);
          width: auto;
        }
      }

      .partner_label {
        font-size: calc(var(--dimen_font_title) * var(--count_font_multiplier));
        font-weight: 400;
        color: var(--col_fore_sub, #83878C);
      }
    }
  }
}

.howitworks_container {
  padding-block: 3rem;
  margin: 2rem 0 5rem;
  text-align: center;
  background-color: #333333;
  border-radius: 1rem;

  .hiw_title {
    font-size: var(--dimen_font_title);
  }

  .hiw_list {
    margin-block: 2.5rem;
    gap: 2.5rem;
    padding-inline: var(--dimen_hiw_list_pad);
    justify-content: space-between;
  }

  .hiw_item {

    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;

    .hiw_step_count_container {
      width: var(--dimen_counter_width);
      height: var(--dimen_counter_width);
      border: solid 1px var(--col_fore_sub, #83878C);

      padding: 1.5rem;
      border-radius: 100%;
      place-items: center;

      .hiw_step_count {
        font-size: var(--dimen_font_counter);
        line-height: var(--dimen_counter_lh);
      }
    }

    .hiw_rhs {
      flex-grow: 1;
      max-width: 60svw;
    }

    .hiw_img {
      /* width: 180px; */
      height: 160px;
      width: 100%;
      object-fit: cover;
      border-radius: 16px;
    }

    .hiw_label {
      color: var(--col_fore_sub, #83878C);
      text-align: start;
      /* margin-inline-start: 1.5rem; */
    }
  }
}




.cta_card_container {
  margin: var(--dimen_cta_card_margin, 2rem 1rem 4rem);
  padding: var(--cta_card_padding, 24px);
  border-radius: var(--cta_card_borde_rad);
  border: var(--cta_card_border);
  gap: 2rem;

  container-name: cta-card-container;

  .img_card_cta {
    border-radius: 24px;
    max-height: 320px;
    min-width: clamp(200px, 40svw, 600px);
  }

  .cta_card_info {
    text-align: var(--para_text_align);
    margin-block: 24px;
    min-width: clamp(200px, 40svw, 600px);
    display: flex;
    flex-direction: column;
    justify-content: center;


    .cta_card_main {
      font-size: var(--dimen_font_title);
      font-weight: 800;
    }

    .cta_card_msg {
      font-size: calc(var(--dimen_font_title) * var(--count_font_multiplier));
      /* font-size: 1.25rem; */
    }

    .lnk_btn_order {
      margin-inline: var(--margin_resp_cta);
      min-width: 248px;
    }
  }

}