:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --col_body: #1E1E1E;

  --col_link: #646cff;
  --col_link_hov: #535bf2;

  --grad_blue: linear-gradient(88.74deg, #0562EA 30%, #32BAFF 100%);
  --grad_blu: linear-gradient(180deg, #0160DF 0%, #013984 60%);
  --grad_bleu: linear-gradient(73.6deg, #2275FB 32%, #0C9FEB 100%);
  /* --grad_bleu_dark: linear-gradient(270deg, #013984 0%, #003782 100%); */
  --grad_bleu_dark: linear-gradient(90deg, #00367F 0%, #0062E5 100%);

  --col_fore_main: #fafafa;
  --col_fore_sub: #83878C;

  --flex_dir_c2r: column;
  --flex_dir_r2c: row;
  --flex_dir_c2rr: column;

  --para_text_align: center;

  --font_size: 16px;
}


@media screen and (width> 768px) {
  :root {
    --flex_dir_c2r: row;
    --flex_dir_r2c: column;
    --flex_dir_c2rr: row-reverse;
    --para_text_align: start;
    --font_size: 20px;
  }
}




* {
  box-sizing: border-box;
  max-width: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: start;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: var(--font_size);
}

a {
  font-weight: 500;
  color: var(--col_link);
  text-decoration: inherit;
}

a:hover {
  color: var(--col_link_hov);
  outline: 1px solid var(--col_link_hov);
  outline: 1px solid #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block: 0;
}

ul[role='list'],
ol[role='list'],
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.head {
  font-size: 1.5rem;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.flex {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: .5rem;
  flex-wrap: wrap;

  &>* {
    min-width: fit-content;
  }
}

.flex_res {
  display: flex;
  flex-direction: var(--flex_dir_c2r, row);
}

.flex_rev {
  display: flex;
  flex-direction: var(--flex_dir_r2c, column);
}

.flex_reverse {
  display: flex;
  flex-direction: var(--flex_dir_c2rr, column);
}

.test_resp {
  text-align: var(--para_text_align);
}

.inp,
input {
  all: unset;
  padding: 12px 16px;
  background: #fff;
  color: #1a1a1a;
  border-radius: 8px;
}

.btn {
  padding: 12px 16px;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.img {
  width: 100%;
  /* aspect-ratio: 1.5; */
  object-fit: cover;
  border-radius: 1px;
}